@import url('https://font.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
    overflow: hidden;
}
.container {
    position: absolute;
    left: -10%;
    width: 120%;
    height: 100vh;
    background: url(./ảnh/anh.jpg) ;
    background-repeat: no-repeat;
   
}
.anh {
 align-content: center;
justify-content: center;
display: flex;
}
.login {
    position: absolute;
    color: #fff;
    border:5px solid black;
    border-radius: 12px;
    padding: 50px;
    width: 175px;
    height: 100px;

}
.inputBox #Username 
{
    border-radius: 2px solidS;
}
